# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/frontend/node_modules
/frontend/.env
/Hardhat_Mode/node_modules
/Hardhat_Mode/.env

# Docs
docs/

# Dotenv file
.env
